.form-control {
    text-align: center;
    color: #757575!important;
    font-family: Inter!important;
    font-size: 14px!important;
    font-weight: 300!important;
    border: 1px solid #e9e9e9!important;
}